.nav-links {
  display: none;
  list-style: none;
}

.menu-checkbox {
  display: none;
}

.menu-checkbox:checked ~ .nav-links {
  display: block;
}

.nav-toggle {
  display: flex;             
  align-items: center;      
  justify-content: center;   
  min-width: 42px;           
  min-height: 42px;          
  cursor: pointer;           
}

.nav-links a {
  display: flex;
  align-items: center;
  min-height: 42px;
  min-width: 42px;
}

@media screen and (min-width: 768px) {

  .nav-toggle {
    display: none;
  }

  .nav-links {
    justify-content: center; 
    display: flex;
    padding-left: 0px;
    gap: 30px;
  }

}