.nav-links {
  display: none;
  list-style: none;
}

.menu-checkbox {
  display: none;
}

.menu-checkbox:checked ~ .nav-links {
  display: block;
}

.nav-toggle {
  display: flex;             
  align-items: center;      
  justify-content: center;   
  min-width: 42px;           
  min-height: 42px;          
  cursor: pointer;           
}

.nav-links a {
  display: flex;
  align-items: center;
  min-height: 42px;
  min-width: 42px;
}

.page-title {
    text-align: center;
    font-size: 30px;
    color: rgb(39, 22, 149);
    padding-bottom: 50px;
    padding-top: 50px;
}

.intro-text {
line-height: 1.6px;
font-size: 20px;
max-width: 600px;
margin: 0 auto;
color: rgb(39, 22, 149);
}

@media screen and (min-width: 768px) {

  .nav-toggle {
    display: none;
  }

  .nav-links {
    justify-content: center; 
    display: flex;
    padding-left: 0px;
    gap: 30px;
  }

}